.page-image,
.single-image{
    padding:0;
    overflow:hidden;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    padding-bottom: 56.25%;
    
     @media only screen and(min-width:768px){
        
        padding-bottom:40%;
    }
    
    @media only screen and(min-width:960px){
        
        padding-bottom:0;
        height:400px;
    }
    
    @media only screen and(min-width:1280px){
        
        height: 450px;
        
    }
    
    @media only screen and(min-width:1600px){
        
        height: 600px;
        
    }
    
}