.home .site-content{
    padding-bottom: 0;
}
.site-content{
    width:100%;
    transition:width $main-menu-transition;
    padding:73px 0px 10px;
    border: solid white;
    border-width: 0px;
    
}
@media only screen and(min-width:960px){
    .site-content{
        width:calc(100% - 260px);
        border-width: 3px 3px 0px 0px;
        padding-top:105px;
    }
    
    nav.site-nav{
        transition:width $main-menu-transition;
        width:260px;
        right:0;
    }
    
}

@media only screen and(min-width:1280px){
    .site-content{
        width:calc(100% - 320px);
        
    }
    
    nav.site-nav{
        width:320px;
    }
    
}

@media only screen and(min-width:1400px){
    nav.site-nav{
        width:20%;
        
    }
    .site-content {
        width:80%;
        background-color: $color-white;
        padding-top:105px;
        padding-bottom:50px;
    }
}